<script lang="ts">
  import { Canvas } from '@threlte/core';
  import { World } from '@threlte/rapier';
  import { Button, Pane } from 'svelte-tweakpane-ui';
  import type { RigidBody } from '@dimforge/rapier3d-compat';
  import Scene from './Scene.svelte';

  let diceBody: RigidBody;
</script>

<Pane title="Dice" position="fixed">
  <Button
    title="Roll"
    on:click={() => {
      diceBody.setLinvel({ x: 0, y: 4, z: 0 }, true);
      diceBody.setAngvel(
        {
          x: Math.random() * Math.PI * 4,
          y: Math.random() * Math.PI * 4,
          z: Math.random() * Math.PI * 4
        },
        true
      );
    }}
  />
</Pane>

<div class="fullscreen">
  <Canvas>
    <World>
      <Scene bind:diceBody />
    </World>
  </Canvas>
</div>

<style>
  .fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
