<script lang="ts">
  import * as THREE from 'three';
  import { T, useThrelte } from '@threlte/core';
  import { OrbitControls } from '@threlte/extras';
  import { AutoColliders, Collider, CollisionGroups, RigidBody } from '@threlte/rapier';
  import type { RigidBody as RapierRigidBody } from '@dimforge/rapier3d-compat';
  import Dice from '$lib/dice.svelte';

  const { scene } = useThrelte();

  scene.background = new THREE.Color(0x000000);
  scene.fog = new THREE.Fog(0x000000, 0, 10);

  export let diceBody: RapierRigidBody;
</script>

<T.PerspectiveCamera makeDefault position={[2.0, 1.0, -2.0]} dispose>
  <OrbitControls maxPolarAngle={Math.PI / 2 - 0.1} />
</T.PerspectiveCamera>

<T.AmbientLight args={[0xffffff, 0.5]} dispose />

<T.DirectionalLight args={[0xffffff, 2.0]} position={[0, 0.8, -0.8]} castShadow dispose />

<CollisionGroups groups={[0, 15]}>
  <T.Group position={[0, -0.05, 0]} dispose>
    <AutoColliders shape={'cuboid'} friction={0.5} restitution={0.5}>
      <T.Mesh receiveShadow>
        <T.BoxGeometry args={[30, 0.1, 30]} />
        <T.MeshStandardMaterial color={0x000000} />
      </T.Mesh>
    </AutoColliders>
  </T.Group>
</CollisionGroups>

<CollisionGroups groups={[0]}>
  <T.Group
    position.y={2}
    rotation.x={Math.random() * Math.PI * 2}
    rotation.y={Math.random() * Math.PI * 2}
    rotation.z={Math.random() * Math.PI * 2}
    dispose
  >
    <RigidBody type="dynamic" bind:rigidBody={diceBody}>
      <Collider shape={'cuboid'} args={[0.1, 0.1, 0.1]} />
      <Dice scale={0.1} />
    </RigidBody>
  </T.Group>
</CollisionGroups>
